<section id="about" class="about">
    <div class="container">
      <h2>Quiénes Somos</h2>
      <p>Somos una compañía de transporte de buses comprometida en proporcionar un servicio excepcional a nuestros clientes. Nuestra misión es ofrecer viajes seguros, cómodos y confiables para todas las personas que utilizan nuestros servicios.</p>
      <p>Con años de experiencia en la industria del transporte, nos enorgullecemos de mantener una flota de buses modernos y bien mantenidos, así como de contar con conductores altamente capacitados y amables.</p>
      <p>Ya sea que necesites un autobús para un evento especial, un traslado al aeropuerto o un servicio de transporte de ciudad a ciudad, estamos aquí para brindarte soluciones a medida para satisfacer tus necesidades de viaje.</p>
      <p>Gracias por confiar en nosotros para tus necesidades de transporte. ¡Esperamos ser tu compañía de buses de confianza durante muchos años más!</p>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2023 Transporte de Buses. Todos los derechos reservados.</p>
    </div>
  </footer>